html, body {
	height: 100%;
}

body {
	margin: 0px;
	background-color: #eeeeee;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
}

#header {
	border-bottom-style: solid;
	border-width: 3px;
	overflow: auto;
	color: #cccccc;
	background-color: #ffffff;
}

#navbar {
	margin: auto;
	width: 960px;
}

#name {
	background: #4aaaa5;
	color: #ffffff;
	float: left;
	padding: 30px;
	font-size: 36px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#links {
	float: right;
	font-size: 20px;
}

.link {
	float: left;
	padding: 0px 20px 0px 20px;
	margin: 38px 0px 38px 0px;
	color: #777777;
	text-decoration: none;
}

#portfolio {
	border-style: none solid;
	border-width: 1px;
}

#main {
	width: 900px;
	margin: 50px auto;
	padding: 10px 30px 40px 30px;
	line-height: 2;
	color: #777777;
	background-color: #ffffff;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
}

#title {
	color: #4aaaa5;
	background: #ffffff;
	font-size: 36px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#line {
	border-width: 2px;
	border-style: solid;
	border-color: #dddddd;
}

#footer {
	padding: 20px;
	text-align: center;
	flex-shrink: 0;
	margin-top: auto;
	background-color: #666666;
	color: #ffffff;
	border-width: 5px;
	border-style: solid none none none;
	border-color: #4aaaa5;
}

#headshot {
	float: left;
	padding: 0 20px 0 0;
}

.label {
	line-height: 1;
}

.input {
	width: 885px;
	line-height: 1;
}

#message {
	height: 160px;
}

#submit {
	background-color: #4aaaa5;
	border: none;
	color: #ffffff;
	padding: 10px 30px;
	font-size: 20px;
	text-decoration: none;
}

.project {
	width: 300px;
	height: 300px;
	float: left;
	margin: 0 20px 0 0;
}

.project_name {
	width: 100%;
	color: #ffffff;
	text-decoration: none;
	background-color: #4aaaa5;
	text-align: center;
	font-size: 24px;
	float: left;
	position: relative;
	top: -70px;
}
